body {
  padding-top: 20px;
}

.name, .contact {
  margin-bottom: 30px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

body, h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
  color: #2F3438;
}

.value {
  color: #2F3438;
  line-height: 1.5em;
}

.field {
  line-height: 1.5em;
  color: #8E99A3;
}

.medium {
  font-weight: 500;
}

.subheader {
  color: #6D6D6D;
}

.subheader a {
  color: #6D6D6D;
}

.header {
  color: #13496F;
}

@media only screen and (min-width: 64.063em) {
  .large-text-right {
    text-align: right;
  }
}
