body {
  padding-top: 20px;
}

a,
a:hover {
  color: #13496f;
}

a:hover {
  text-decoration: underline;
}

.name,
.contact {
  margin-bottom: 30px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu", sans-serif;
  color: #2f3438;
}

.value {
  color: #2f3438;
  line-height: 1.5em;
}

.field {
  line-height: 1.5em;
  color: #8e99a3;
}

.medium {
  font-weight: 500;
}

.subheader {
  color: #6d6d6d;
}

.subheader a:hover {
  border-bottom: 1px dashed #6d6d6d;
}

@media only screen and (min-width: 64.063em) {
  .large-text-right {
    text-align: right;
  }
}
