<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ page.title }}
    </title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Piotr Okoński&#39;s resume" name="keywords" />
    <meta content="Piotr Okoński" name="author" />
    <link
      href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500&amp;subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css"
      media="all"
      rel="stylesheet"
      type="text/css"
    />
    <link href="css/main.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {{ content }}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
